.volunteer-opportunity-container {
  background-color: #c7e1e3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: var(--n4d-gap);
}

.volunteer-opportunity-heading {
  margin-bottom: 15px;
  text-align: center;
}

.n4d-carousel-container {
  margin-inline: auto;
  max-width: var(--n4d-carousel-w);
  height: var(--n4d-carousel-h);
}

.n4d-full-space {
  width: 100%;
  height: 100%;
}

.become-a-mentor-img {
  background-image: url("/images/mentor.jpg");
}

.child-care-img {
  background-image: url("/images/child-care.jpg");
}

.sport-programmes-img {
  background-image: url("/images/sport-offer.jpg");
}

.volunteer-opportunity-img {
  position: relative;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.volunteer-opportunity-text {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, var(--n4d-carousel-opc));
  color: var(--n4d--darkest-color);
  padding: var(--n4d-carousel-t-pd);
}

.volunteer-opportunity-text h5 {
  margin-bottom: 15px;
}

.volunteer-opportunity-text p {
  font-size: var(--n4d-volunteer-p-f-sz);
  font-weight: var(--n4d-carousel-p-f-w);
  line-height: 2;
}

.learn-more {
  visibility: hidden;
  align-self: end;
  color: rgb(33, 39, 39);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 8rem !important;
  width: 4rem !important;
}
