.main-container {
    padding: 60px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 700px;
  
  }

  .navbar-main-container {
    background-image: url('../public/need4deed.jpg');
    background-size: cover; 
    background-position: center;
    
  }

  .main-text-container {
    color: #fcfcfc;
    background-color:rgba(126, 122, 122, 0.336);
    padding: 40px;
    border-radius: 12px;
  }

  .heading {
    letter-spacing: 4px;
  }

  .slogan {
    padding-top: 10px;
    letter-spacing: 1px;
  }

.volunteer-cta {
    margin: 60px;
    background-color: #fcfcfc;
    border-color: transparent;
    border-radius: 25px;
    padding: 10px 20px; 
    color: #000000;
}

.volunteer-cta:hover {
    background-color: #e9e7e7; 
  }

  .fa-solid {
    color: white;
  }