.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  padding: 60px;
}

.navbar-main-container {
  background-image: url("/images/need4deed.jpg");
  background-position: center;
  background-size: cover;
}

.main-text-container {
  background-color: rgba(20, 20, 20, 0.5);
  border-radius: 12px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-text-container img {
  max-width: 35ch;
}

.main-text-container h1 {
  color: var(--n4d-title-clr);
  letter-spacing: 4px;
}

.main-text-container h5 {
  letter-spacing: 1px;
  padding-top: 10px;
  color: var(--n4d-neutral-light);
}

.main-container {
  direction: var(--n4d-lang-direction);
}

.volunteer-cta {
  background-color: var(--n4d-secondary);
  color: var(--n4d-neutral-dark);
  border-color: transparent;
  border-radius: 25px;
  margin: 60px;
  padding: 15px 25px;
}

.volunteer-cta a {
  text-decoration: none;
  color: inherit;
}

.volunteer-cta:hover {
  background-color: var(--n4d-secondary-darker);
}

.fa-solid {
  color: white;
}

@media (max-width: 576px) {
  .main-text-container img {
    max-width: 20ch;
  }
}
