.volunteer-workflow-img-container {
  position: relative;
  padding-top: var(--n4d-gap);
  margin-inline: auto;
  max-width: var(--n4d-w);
}

.volunteer-workflow-img-wrapper img {
  max-width: calc(var(--n4d-w) - 6px);
}

.volunteer-workflow-btn {
  width: max-content;
  margin-inline: auto;
  margin-block-start: 1.5rem;
  padding: 1rem;
  color: var(--n4d-neutral-dark);
  background-color: var(--n4d-secondary);
  border-radius: 1.5rem;
}

.volunteer-workflow-btn a {
  text-decoration: none;
}

.volunteer-workflow-btn button,
.volunteer-workflow-btn a {
  background: none;
  border: none;
  color: inherit;
}

.volunteer-workflow-btn:hover {
  background-color: var(--n4d-secondary-lighter);
}

@media (max-width: 768px) {
  .volunteer-workflow-img-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
  }

  .volunteer-workflow-img-wrapper::-webkit-scrollbar {
    height: 10px !important;
  }

  .volunteer-workflow-img-wrapper::-webkit-scrollbar-thumb {
    background: var(--n4d-secondary-darker);
    border-radius: 5px !important;
  }

  .volunteer-workflow-img-wrapper::-webkit-scrollbar-track {
    border-radius: 5px !important;
    background-color: var(--n4d-secondary-lighter);
  }

  .volunteer-workflow-img-wrapper img {
    height: 330px;
    max-width: unset;
    width: auto;
  }
}
