.navbar {
  background-color: rgba(50, 50, 50, 0.5);
  direction: var(--n4d-lang-direction);
}

.container-fluid {
  padding: 0 !important;
  width: var(--n4d-w);
  height: var(--n4d-navbar-h);
}

.dropdown-toggle {
  margin-inline-end: auto;
}

.nav-link {
  color: white !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.home-icon {
  display: inline-block;
  background-image: url("/images/N4D-4-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 2.2em;
  height: 2.2em;
}

.navbar-toggler {
  margin-inline-start: auto;
}

.navbar-nav {
  margin-inline-start: auto;
}

.dropdown-menu-dark {
  --bs-dropdown-bg: rgba(0, 0, 0, 0.5);
  --bs-dropdown-link-color: #fff;
  --bs-dropdown-spacer: 1.33em;
  --bs-dropdown-link-hover-color: #fff;
  --bs-dropdown-link-hover-bg: rgba(0, 0, 0, 0.55);
}

@media (max-width: 768px) {
  .navbar-nav li {
    padding-inline-start: calc(100% - 16rem);
  }
  .dropdown-menu-dark {
    --bs-dropdown-spacer: 0;
  }
}
