.about-project-container {
  padding-top: var(--n4d-gap);
  margin-inline: auto;
  width: var(--n4d-w);
}

.about-project-container p {
  font-size: var(--n4d-about-p-f-sz);
  line-height: 2;
  text-align: justify;
}

h2 {
  margin-block: 24px 18px;
}
