footer {
  background-color: #141414;
  color: #fcfcfc;
  padding: 40px 40px;
  text-decoration: none;
}

.footer-container {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.footer-column {
  font-family:
    -apple-system,
    "Helvetica Neue",
    "Open Sans",
    "Segoe UI",
    BlinkMacSystemFont,
    Cantarell,
    Oxygen,
    Roboto,
    sans-serif system-ui,
    Ubuntu;
  font-size: 12px;
  line-height: 2;
  min-width: 15%;
  padding: 10px;
}

.footer-column h6 {
  margin-bottom: 10px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column a {
  color: #fcfcfc;
  text-decoration: none;
}
