footer {
  margin-top: var(--n4d-gap);
  background-color: var(--n4d-darkest-clr);
  padding: 40px 0 60px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  width: var(--n4d-w);
}

.footer-column {
  font-family:
    -apple-system,
    "Helvetica Neue",
    "Open Sans",
    "Segoe UI",
    BlinkMacSystemFont,
    Cantarell,
    Oxygen,
    Roboto,
    sans-serif system-ui,
    Ubuntu;
  font-size: var(--n4d-footer-f-sz);
  text-decoration: none;
  line-height: 2;
  min-width: 15%;
}

.footer-column h6 {
  color: var(--n4d-primary-light);
  margin-bottom: 10px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column a {
  color: var(--n4d-primary-light);
  text-decoration: none;
  display: block;
}

.footer-column ul,
.footer-column h6 {
  direction: var(--n4d-lang-direction);
}
