:root {
  --n4d-w: min(90vw, 1080px);
  --n4d-gap: 0;
  --greenish: #c7e1e3;

  --n4d-primary: #9163f2;
  --n4d-primary-lighter: #8870ca;
  --n4d-primary-darker: #7858c6;
  --n4d-secondary: #41f28d;
  --n4d-secondary-lighter: #00ce7e;
  --n4d-secondary-darker: #00c980;
  --n4d-tertiary: #0540f2;
  --n4d-tertiary-lighter: #0055b8;
  --n4d-tertiary-darker: #055eaa;
  --n4d-neutral-900: #fff;
  --n4d-neutral-800: #eee;
  --n4d-neutral-700: #ddd;
  --n4d-neutral-600: #ccc;
  --n4d-neutral-500: #bbb;
  --n4d-neutral-400: #aaa;
  --n4d-neutral-300: #888;
  --n4d-neutral-200: #444;
  --n4d-neutral-100: #000;

  --n4d-title-clr: var(--n4d-neutral-900);
  --bs-heading-color: var(--n4d-neutral-200);

  --n4d-volunteer-p-f-sz: 1em;
  --n4d-about-p-f-sz: 0.875em;
  --n4d-footer-f-sz: 0.75em;

  --n4d-carousel-h: 35em;
  --n4d-carousel-w: var(--n4d-w);

  --n4d-carousel-opc: 0.6;
  --n4d-carousel-t-pd: 5em;
  --n4d-carousel-p-f-w: 500;

  --n4d-navbar-h: 4em;

  --n4d-lang-direction: ltr;

  --n4d-box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.3);

  --bs-body-font-size: clamp(0.8rem, 2.2vw, 1rem);
}

*:focus {
  outline: solid 1px var(--n4d-secondary-lighter);
}

@media (max-width: 576px) {
  :root {
    --n4d-volunteer-p-f-sz: clamp(0.9em, 2.7vw, 1em);
    --n4d-about-p-f-sz: clamp(0.79em, 2.45vw, 0.875em);
    --n4d-footer-f-sz: clamp(0.675em, 2.1vw, 0.75em);

    --n4d-carousel-w: clamp(35ch, 99vw, 101ch);
    --n4d-carousel-h: 26em;
    --n4d-carousel-t-pd: 2em 5em;
  }
  .h1,
  h1 {
    font-size: clamp(1.74em, 5.2vw, 1.93em);
  }
  .h2,
  h2 {
    font-size: clamp(1.5em, 4.5vw, 1.67em);
  }
  .h3,
  h3 {
    font-size: clamp(1.37em, 4.1vw, 1.52em);
  }
  .h5,
  h5 {
    font-size: clamp(1.125em, 3.375vw, 1.25em);
  }
  .h6,
  h6 {
    font-size: clamp(0.9em, 2.7vw, 1em);
  }
}

@media (max-width: 768px) {
  :root {
    --n4d-navbar-h: auto;
  }
}

.first {
  background-color: var(--n4d-primary);
  color: var(--n4d-neutral-900);
  --bs-heading-color: var(--n4d-neutral-900);
}

.second {
  background-color: var(--n4d-neutral-900);
  color: var(--n4d-neutral-200);
  --bs-heading-color: var(--n4d-neutral-200);
}

.wrapper {
  padding-block: 1rem;
}

.n4d-container {
  padding-top: var(--n4d-gap);
  margin-inline: auto;
  max-width: var(--n4d-w);
  direction: var(--n4d-lang-direction);
}

.n4d-information-tooltip-parent {
  position: relative;
}

.n4d-cta {
  background-color: var(--n4d-secondary);
  color: var(--n4d-neutral-100);
  font-weight: bold;
  border-color: transparent;
  border-radius: 25px;
  padding: 15px 25px;
}

.n4d-cta[disabled] {
  background-color: var(--n4d-neutral-700);
  color: var(--n4d-neutral-200);
  border-color: transparent;
  border-radius: 25px;
  padding: 15px 25px;
}

.n4d-cta a {
  text-decoration: none;
  color: inherit;
}

.n4d-cta:hover {
  background-color: var(--n4d-secondary-darker);
}

.n4d-cta[disabled]:hover {
  background-color: var(--n4d-neutral-700);
}

.n4d-primary-btn {
  --bs-btn-color: var(--n4d-neutral-900);
  --bs-btn-bg: var(--n4d-primary);
  --bs-btn-border-color: var(--n4d-primary);
  --bs-btn-hover-color: var(--n4d-neutral-900);
  --bs-btn-hover-bg: var(--n4d-primary-darker);
  --bs-btn-hover-border-color: var(--n4d-primary-darker);
  --bs-btn-focus-shadow-rgb: 0, 212, 0;
  --bs-btn-active-color: var(--n4d-neutral-900);
  --bs-btn-active-bg: var(--n4d-primary);
  --bs-btn-active-border-color: var(--n4d-primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--n4d-neutral-200);
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
}

.n4d-secondary-btn {
  --bs-btn-color: var(--n4d-neutral-100);
  --bs-btn-bg: var(--n4d-secondary);
  --bs-btn-border-color: var(--n4d-secondary);
  --bs-btn-hover-color: var(--n4d-neutral-100);
  --bs-btn-hover-bg: var(--n4d-primary-darker);
  --bs-btn-hover-border-color: var(--n4d-secondary-darker);
  --bs-btn-focus-shadow-rgb: 0, 212, 0;
  --bs-btn-active-color: var(--n4d-neutral-100);
  --bs-btn-active-bg: var(--n4d-secondary);
  --bs-btn-active-border-color: var(--n4d-secondary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--n4d-neutral-200);
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
}
