body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  width: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-midnight: rgba(26, 38, 132, 1);
  --color-midnight-light: rgba(58, 72, 178, 1);
  --color-aubergine: rgba(95, 38, 77, 1);
  --color-aubergine-light: rgba(133, 63, 110, 1);
  --color-orchid: rgba(251, 226, 255, 1);
  --color-orchid-light: rgba(251, 226, 255, 1);
  --color-sand: rgba(242, 226, 211, 1);
  --color-magnolia: rgba(246, 238, 231, 1);
  --color-papaya: rgba(255, 125, 104, 1);

  --max-width-section: 360px;

  /* text */
  --text-h2-font-weight: 700;
  --text-h2-font-size: 32px;
  --text-h2-line-height: 38px;
  --text-h3-letter-spacing: 0%;

  --text-h3-font-weight: 600;
  --text-h3-font-size: 24px;
  --text-h3-line-height: 30px;
  --text-h3-letter-spacing: 0.5%;

  --text-p-font-weight: 400;
  --text-p-font-size: 20px;
  --text-p-line-height: 24px;
  --text-p-letter-spacing: 0.5%;

  /* text-button */
  --text-button-font-weight: 500;
  --text-button-font-size: 24px;
  --text-button-line-height: 25px;
  --text-button-letter-spacing: 0.55%;
  --text-button-text-align: center;

  /* icon */
  --icon-size:48px;
  --icon-div-height:48px;
  --icon-div-width:48px;
  --icon-color: var(--color-papaya);


}

@media (min-width: 360px) {
  :root {
    --max-width-section: 360px;
  }
}

@media (min-width: 768px) {
  :root {
    --max-width-section: 768px;
  }
}

@media (min-width: 1440px) {
  :root {
    --max-width-section: 1440px;
  }
}

