.opportunity-container {
  padding-block: 1em;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.opportunity-container p {
  margin: 0;
  padding: 0;
  font-size: var(--n4d-about-p-f-sz);
  line-height: 2;
}

.opportunity-container h4,
.opportunity-container h5,
.opportunity-container h6 {
  margin-block: 1rem 0.6rem;
}

.opportunity-container a {
  margin-top: auto;
  align-self: end;
}

.opportunity-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: var(--n4d-box-shadow);
  border-radius: 0.3rem;
  transition: transform 0.34s ease;
}

.opportunity-card h5 {
  min-height: 2rem;
}

.opportunity-card h6 {
  min-height: 1rem;
}

.opportunity-card p {
  line-height: 1.25rem;
  min-height: 3rem;
}

.opportunity-card img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.opportunity-epsilon {
  padding-inline: 3px;
  border: solid 1px black;
  border-radius: 3px;
}

.opportunity-epsilon:hover {
  cursor: pointer;
  background: var(--n4d-neutral-800);
}

.opportunity-vo-information-tooltip {
  top: -4rem;
  left: -1rem;
  right: -1rem;
}

.opportunity-vo-information-tooltip h1 {
  font-size: 1.3rem;
  padding: 0.3rem;
}

.opportunity-vo-information-tooltip p {
  padding: 0.3rem;
}

.opportunity-vo-information-tooltip button {
  border-radius: 50%;
  margin-inline: auto 0.3rem;
  margin-block: 0.3rem;
  width: 2rem;
  height: 2rem;
  background: var(--n4d-neutral-900);
}
.opportunity-vo-information-tooltip button:hover {
  background: var(--n4d-neutral-800);
}

.opportunity-vo-information {
  position: relative;
}

.opportunity-vo-information i[role="tooltip"] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-block-end: 0.3rem;
  background: var(--n4d-neutral-900);
  display: none;
  transition: display 0.3s ease;
}

.opportunity-vo-information-hover:hover i[role="tooltip"] {
  display: inline;
  outline: solid 1px var(--n4d-neutral-800);
  z-index: 1;
}

@media (max-width: 992px) {
  .opportunity-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .opportunity-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .opportunity-container {
    grid-template-columns: auto;
  }

  .opportunity-card h5,
  .opportunity-card h6,
  .opportunity-card p {
    max-heith: auto;
  }
}
