.sponsor-img-container {
  padding-top: var(--n4d-gap);
  align-items: center;
  display: flex;
  justify-content: center;
}

.sponsor-img-container span {
  width: 90%;
  border-top: solid 1px black;
}

.img-width {
  width: min(100%, var(--n4d-w));
}

.flex-column {
  flex-direction: column;
}
